<%- include('header'); -%>
<main>
<div class="container text-center" style="border:5px solid #fd7e14;">
<!--<h4><%= locals.user ? user:"User" %></h4>-->

<table style="width:100%, background-color:white !important;" class="table">


<thead>



<tr style="background-color:snow !important; font-size:larger;">
    <th scope="col" >Account Name</th>
    <th scope="col">Email</th>
    
   
    <th scope="col">Address</th>
    
    
    <th scope="col">Phone</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Account Number</th>
    </tr>
  </thead>
  <div style="background-color:snow !important;">
  <button onclick="window.print()" class="btn" style="color:#fd7e14; ">Print</button>
  </div>
  <div id="today" style="background-color:snow !important;"></div>
<!---->

<!---->

  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"></div>
    </div>
  </div>
</div>

</div>





  <tbody>



<tr style="background-color:snow !important;">
  
    <td> <%= firstname %>    <%= lastname %> <%= middlename %></td>
    
  
    <td><%= email %> </td>
    
  
    <td><%= address %> <%= state %> <%= zipcode %> <%= country %></td>
    
  
    
   
    <td><%= phone %>
</td>
    
  
    <td><%= dob %></td>
    
 
    <td><%= accountnumber %> </td>
    
  </tr>

          
           


</tbody>

</table>






</div>
<div class="container">


 
 

<table class="table table-striped" style="background-color:white !important;">
  <thead>
  <!---->
 <div class="d-flex_p-2 flex container w-50" style="background-color:white !important;">
  <div class="btn-group dropdown">
    <button
      class="btn btn-success dropdown-toggle"
      onclick="myWithdraw()"
      style="margin-top: 3vh"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Withdraw
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
      <button class="dropdown-item text-center" type="button">Account restricted</button>
      <button class="dropdown-item" type="button">
        Please Contact Customer Care
      </button>
      <button class="dropdown-item" type="button">
        helpdesk@firstnationaagric.com
      </button>
    </div>
  </div>
  <div class="btn-group dropdown">
    <button
      class="btn btn-info dropdown-toggle"
      onclick="myTransfer()"
      style="margin-top: 3vh"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Transfer
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
      <button class="dropdown-item text-center" type="button">Account restricted</button>
      <button class="dropdown-item" type="button">
        Please Contact Customer Care
      </button>
      <button class="dropdown-item" type="button">
        helpdesk@firstnationaagric.com
      </button>
    </div>
  </div>
  <div class="btn-group dropdown">
    <button
      class="btn btn-danger dropdown-toggle"
      onclick="mySettings()"
      style="margin-top: 3vh"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Settings
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
      <button class="dropdown-item text-center" type="button">Account restricted </button>
      <button class="dropdown-item" type="button">
        Please Contact Customer Care 
      </button>
      <button class="dropdown-item" type="button">
        helpdesk@firstnationaagric.com
      </button>
    </div>
  </div>
</div>

    <!---->
  </thead>
 
  <tbody>
  

    <div class="text-center" style="background-color:snow !important;">
    <br>
    
   

<hr>
<h2 class="container table table-striped text-center">Transaction History</h2>
    <div class="container">
<table class="table table-striped" style="background-color:snow !important;">
  <thead>
  <h2 class="container table table-striped text-center"></h2>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount $</th>
      <th scope="col">Type</th>
      <th scope="col">Trust ID</th>
      <th scope="col">Description</th>
      <th scope="col">Balance $</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  
  
<tbody>
    
   <% if(item.length > 0){       item.forEach(function(result){                 %> 
    
     <tr>
      <th scope="row"><%= result.id%></th>
       
      <td><%= result.amount %></td>
      <td><%= result.type %></td>
      <td><%= result.from_to %></td>
      <td><%= result.description %></td>
      <td id="balance"><%= result.balance %></td>
      <td><%= result.tdate %></td>
    </tr>
      
       <% 
          }) ;
          } %>    
          

  </tbody>
 
</table>


</div>  

    
    
    </div>
    

    </div>

   <div class="text-center">
    <br>
    <div id="iframe2" name="iframe2" class="text-center" style="background-color: Snow;" scrolling="no">

    
    <div class="container text-center"><div>Total Balance : $ 750000</div></div>


 </div>
    

    </div>



  </tbody>
</table></div>  
<div><a href="/logout">Logout</a></div>

</main>
<%- include('footer'); -%>